
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 title">Tour The Inside Of The Future</h1>
    <p class="lead subTitle">Drive the future while living today</p>
  </div>
</div>



<div class="container-fluid abtDiv">
  <div class="row">
    <div class="col-sm left">
      C A R
    </div> 
    <div class="col-sm-4 vid">
      <video width="450" controls>
        <source src="/assets/prototype.mp4" >
    </video>
    </div>
    <div class="col-sm right">
      M A <i class="fab fa-stumbleupon"></i>
    </div>
  </div>
</div>

<ul class="list-unstyled listing">
  <li class="media">
    <img class="mr-3" src="" alt="" >
    <div class="media-body">
      <h5 class="mt-0 mb-1">HK GT CONCEPT BY PININFARINA + HYBRID KINETIC GROUP GT WORLD DEBUT </h5>
      HK GT Concept by
Pininfarina Group GT
4xe-engine / ca. 800kw / 1090hp
0-100 km/h: 2,7 sec.
Vmax: ca.350 km/h
    </div>
  </li>
</ul>














<div class="container">
    
</div>