<div class="container-fluid-width">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img/carlist1.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block firstSlide">
        <p>Aerodynamically designed for the best driving experience in any weather conditions</p>
    </div>
    </div>
    
    
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/carlist2.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block firstSlide">
        <p> A.I daylight sensored patented headlights to make the night glow</p>
    </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/carlist3.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block firstSlide">
        <p>Horizontal zero gravity wing doors designed for better entrance/exit</p>
    </div>
    </div>
    
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>

<div class="card featured">
  <div class="card-header">
    Featured <i class="fab fa-slack"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title carTitle">2035 AI500</h5>
    <p class="card-text">The new 2035 AI500 will be making its popup debut, but when?</p>
    <a  class="btn btn-primary about" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Get Notified</a>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input required type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label" >Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary sendBtn" data-dismiss="modal">Send message</button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 jumTitle"><i class="fas fa-angle-double-down"></i> Interior Design <i class="fas fa-angle-double-down"></i></h1>
  </div>
  
</div>



<div class="container-fluid-width span"></div>

<div class="container-fluid galleryDiv">
<div class="row gallery">
  <div class="col-sm-3">
    <div class="card interior intOne">
      <div class="card-body">
      
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card interior intTwo">
      <div class="card-body">
        <pre></pre>
        <pre></pre>
        <pre></pre>
        <pre></pre>
        <pre></pre>
        <pre></pre>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card interior intThree">
      <div class="card-body">
        
        
      </div>
    </div>
  </div>
</div>
</div>

<div class="jumbotron jumbotron-fluid jum2">
  <div class="container">
    <h1 class="display-4 footTitle">Stay Ahead Of The Future</h1>
    <p class="lead">For updates, follow our social media platforms</p>
    <div class="container socialDiv">
    <i class="fab fa-twitter social"> @Carma</i>
    <i class="fab fa-instagram social"> @Carma2035</i>
    <i class="fab fa-youtube social"> CarmaTechCar</i>
    </div>
  </div>
</div>





