<div class="jumbotron jumbo">
  <h1 id="title" class="display-4"></h1>
  <p class="lead">.</p>
  <hr class="my-4">
 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm tech">
      Where Technology <i class="fas fa-robot"></i>
    </div>
    <div class="col-sm slogan">
      <img class="gif" src="/assets/img/logo.gif" alt="" width="114" >
    </div>
    <div class="col-sm world">
      Meets Automotive <i class="fas fa-car-alt"></i>
    </div>
  </div>
</div>
<hr class="line">

<div class="container-fluid bottomBanner">

<div class="container">
  <div class="row">
    <div class="col-sm one">
      
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img/selfcar1.jpg" alt="Card image cap">
</div>
    </div>

    <div class="col-sm two">
        <pre></pre>
        <pre></pre>
        <pre></pre>
      <li data-toggle="modal" data-target="#exampleModalCenter"
      class="hoverWords">Worldwide 5G Wifi</li>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Worldwide 5G Wifi <i class="fas fa-wifi"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Unlimited & Free 5G Wifi Coverage Any & Everywhere Throughout The World
      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close Window</button>
      </div>
    </div>
  </div>
</div>
    <i class="fas fa-ellipsis-h"></i>
      <li class="hoverWords" data-toggle="modal" data-target="#exampleModalMiddle">State Of The Art Self Driving</li>
      

<!-- Modal -->
<div class="modal fade" id="exampleModalMiddle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">State Of The Art Self Driving <i class="fas fa-car"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        State Of The Art Technology That Guarantees A Safe, Relaxing, Hands-Free Drive
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close Window</button>
      </div>
    </div>
  </div>
</div>

<i class="fas fa-ellipsis-h"></i>
      <li class="hoverWords" data-toggle="modal" data-target="#exampleModalEnd">Unique Voice Commands</li>
     
    <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalEnd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Unique Voice Commands <i class="fas fa-blog"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Personalize Unique Voice Recognition Commands Programmed Just For You
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close Window</button>
      </div>
    </div>
  </div>
</div>



    </div>
    <div class="col-sm three">
     
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img/selfcar3.jpg" alt="Card image cap">
  
</div>
    </div>
  </div>
</div>

</div>

